<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create set of topics</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
      function add_row(){
        var table = document.getElementById("ideasTable");
        var row = table.insertRow(table.rows.length);
        var cell1 = row.insertCell(0);
        cell1.innerHTML = '<input type="text" name="ideas"/>';
      }
    </script>
  </head>
  <body>
    <form action="" method="post">

    <table id="ideasTable">

      <tr><th>Name of idea</th>
      <tr>
        <td><input type="text" name="ideas"></td>
      </tr>
    </table>

    Name of poll: <input type="text" name="name"><br/>

    <input type="submit" value="Save">
    </form>
    <button onclick="add_row()">Add row</button>

  </body>
</html>
